html {
    font-family: 'Arial', sans-serif;
}
html, body {
    margin: 0;
}
#header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #000;    
}
#header__background {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    width: inherit;
    height: inherit;
    display: table;
}
#header__centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
#header__centered > img{
    display: block;
    margin: 0 auto;
    width: 130px;
    border: 1px solid #fff;
    border-radius: 100%;
}
#header__centered > h1{
    font-size: 2em;
    color: #fff;
}
.inner {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.inner > p {
    font-size: 16px;
    line-height: 40px;
}